---
layout: blog-base.njk
title: Blog
permalink: /blog/
---
<nav class="blog-nav">
    <a href="/">&larr; Home</a>
</nav>
<h1 class="blog-eyebrow">Scarlet Engineering - Devlog</h1>
<div class="blog-list">
    {%- for post in collections.posts %}
    <a class="post-card" href="{{ post.url }}">
        {%- if post.data.image %}
        {% thumbnail post.data.image, "", "post-card-thumb" %}
        {%- endif %}
        <div class="post-card-body">
            <h2 class="post-card-title">{{ post.data.title }}</h2>
            <time class="post-card-date" datetime="{{ post.date | dateToRfc3339 }}">{{ post.date | dateDisplay }}</time>
            {%- if post.data.description %}
            <p class="post-card-desc">{{ post.data.description }}</p>
            {%- endif %}
        </div>
    </a>
    {%- endfor %}
    {%- if collections.posts.length == 0 %}
    <p style="color: var(--color-fog);">No posts yet.</p>
    {%- endif %}
</div>
